body, html {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background-color: rgb(200, 229, 255);
    padding-left: 40px;
}

main > h1 {
    text-align: left;
    margin: 0;
    padding: 10px;
    padding-top: 70px;
}

.inputs {
    display:block;
    height: 18px;
    width: 20%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}

.submit {
    padding: 0;
    width: 10%;
    background-color: rgb(237, 234, 234);
}

.submit:hover {
    background-color: rgb(213, 213, 213);
    transition: all .2s;
}
